<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
    window.list = <%= render(
      "api/lists/list.json.jbuilder",
      list: current_user.list
    ).html_safe %>
  <% end %>
</script>

<main id="root">Not inside your app</main>
