.carousel-component {
  background: #333;
  color: #fff;
  font-size: 17pt;
  text-align: center;
  letter-spacing: 0.15em;
}

.wrap {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  box-shadow:7px 7px 5px 0px rgba(0, 0, 0, 0.25);
}

.window {
  position: relative;
  overflow: hidden;
  background: #222;
  display: flex;
  align-items: center;
}

div[id^="carousel"] {
  width: 10000px;
  position: relative;
  top: 0; left: 0;
  display: flex;
  align-items: center;
}

.transition {
  transition: .7s;
}

span[id^="prev"], span[id^="next"] {
  cursor: pointer;
  position: absolute;
  font-size: 14pt;
  z-index: 200;
  height: 150px;
  display: flex;
  align-items: center;
  font-family: 'nf-icon';
}

span[id^="prev"] {
  left: 0;
  background: linear-gradient(to right,
              rgba(0,0,0,.8),
        rgba(0, 0, 0, .7), transparent);

}

span[id^="next"] {
  right: 0;
  background: linear-gradient(to left,
              rgba(0,0,0,.8),
        rgba(0, 0, 0, .7), transparent);
}

.scroll-arrow {
  font-size: 50px;
}
