.carousel-component {
  color: #fff;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0.15px;
  position: relative;
  margin-top: -5px;
}

.carousel-component:first-of-type {
  margin-top: 20px;
}


.carousel-component h2 {
  text-align: left;
  margin-left: 40px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: -40px;
  text-shadow: 2px 2px 5px black;
  font-family: 'Ramabhadra', sans-serif;
}

.wrap {
  position: relative;
  width: 100%;
  height: 250px;
  margin: 0 auto;
}

.window {
  position: relative;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

div[id^="carousel"] {
  width: 10000px;
  position: relative;
  top: 0; left: -300px;
  display: flex;
  align-items: center;
  height: 250px;
}

.transition {
  transition: .7s;
}

span[id^="prev"], span[id^="next"] {
  cursor: pointer;
  position: absolute;
  font-size: 14pt;
  height: 150px;
  display: flex;
  align-items: center;
  z-index: 50;
}

span[id^="prev"] {
  left: 0;
  background: linear-gradient(to right,
              rgba(0,0,0,.8),
        rgba(0, 0, 0, .7), transparent);
}

span[id^="next"] {
  right: 0;
  background: linear-gradient(to left,
              rgba(0,0,0,.8),
        rgba(0, 0, 0, .7), transparent);
}

.scroll-arrow {
  font-size: 50px;
}

div[id^="expanding-block"] {
  width: 100%;
  height: 450px;
  background: white;
}

.window-close-x {
  font-size: 50px;
  color: black;
  text-align: right;
}
