.movie-index-item {
  height: 100px;
  width: 200px;
  background: white;
  margin-right: 5px;
  position: relative;
  color: white;
  font-family: "Roboto", sans-serif;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);

}

.movie-index-item img {
  height: 100%;
  object-fit: cover;
}

.movie-title {
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
 }

 .movie-title {
   margin-left: 10px;
 }
/*
 .movie-year {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  font-size: 14px;
 } */
