.movie-play-component {
  color: white;
  background: rgb(20, 20, 20);
  position: absolute;
  background-position: center;
  width: 100%;
  min-height: 100%;
}

#video-back-arrow {
  position: absolute;
  margin-top: 50px;
  margin-left: 30px;
  font-size: 80px;
  z-index: 100;
}

#video-back-arrow:hover {
  cursor: pointer;
}

#video-back-arrow:hover~#back-to-browse {
  display: block;
}


#back-to-browse {
  color: white;
  background: rgb(38, 38, 38);
  position: absolute;
  top: 65px;
  left: 110px;
  z-index: 200;
  padding: 10px;
  border: 1px solid rgb(38, 38, 38);
  border-radius: 15px;
  opacity: .7;
  display: none;
}
