.search-appear {
  opacity: 0.01;
}

.search-appear.example-appear-active {
  opacity: 1;
}

.search-bar-container {
  display: flex;
  align-items: center;
  position: relative;
}

input#search-bar {
  color: white;
  width: 250px;
  position: absolute;
  background: black;
  border: 1px solid white;
  padding: 4px 10px;
  right: 50px;
  top: 0;
}

#search-results {
  position: absolute;
  right: 160px;
  top: 50px;
  padding: 0 10px;
  background: black;
  color: white;
  width: 250px;
}

.search-result {
  border-top: 1px solid #ccc;
  padding: 10px 0;
}

.search-result:first-of-type {
  border-top: 0;
}

#search-icon {
  margin-left: 10px;
  font-size: 20px;
  color: white;
  margin-right: 20px;
}

#search-icon:hover {
  cursor: pointer;
}


@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}
