.slide {
  height: 130px;
  width: 250px;
  margin: 0 2px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: .3s;
  background-size: cover;
}

.slide > h2 {
  font-size: 22px;
  letter-spacing: 1px;
}

.slide > h2, .slide > div {
  font-family: 'Roboto', sans-serif;
  text-shadow: 5px 2px 20px #000,
               6px 3px 20px #000,
               3px 1px 20px #000,
               2px 2px 20px #000,
               9px 2px 20px #000;
}

.slide > div {
  font-size: 16px;
  letter-spacing: 1px;
}

.slide:hover {
  width: 350px;
  height: 250px;
}

.slide-play-btn {
  display: none;
  font-size: 80px;
  color: rgb(252, 0, 0);
  transition: .3s;
  font-weight: 300;
  margin: auto;
  border: none;
  opacity: .5;
}

.slide:hover .slide-play-btn {
  display: block;
}

.slide-play-btn:hover {
  opacity: 1;
}

.slide:hover .bottom-of-slide {
  opacity: 1;
  display: block;
  background: linear-gradient(to top,
              rgba(0,0,0,1),
        rgba(0, 0, 0, .9), rgba(0, 0, 0, .8), transparent)
}


.bottom-of-slide {
  display: none;
  opacity: 0;
  padding: 0 10px;
  transition: .3s;
}

.expand-arrow {
  color: rgb(252, 0, 0);
  font-weight: bold;
  font-size: 50px;
}

.expand-arrow:hover {
  color: rgb(255, 0, 0);
  opacity: .8;
}

.expanding-block {
  margin-top: -10px;
}

.expanding-block-left {
  margin: 80px 60px;
  width: 500px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.expanding-block-left > h2 {
  font-size: 60px;
  font-weight: 400;
  line-height: 1;
  font-family: "Roboto", sans-serif;
}

.expanding-block > div {
  font-size: 18px;
}

.circle-plus {
  display: block;
  border: 2px solid white;
  opacity: .7;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  height: 28px;
  width: 30px;
  text-align: center;
}

.circle-plus:hover {
  opacity: 1;
  cursor: pointer;
}

.expanding-block-my-list {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
